table {
    border-style: solid;
    background-color: rgb(127, 176, 255);
    width: 100%;
    border: 5px solid white ;

}
#k {
    color: red;
    text-align: center;
    background-color:bisque;
    
}