#p1{
    background-color: blue;
    color: white;
}
div{
    background-image: url("https://st2.depositphotos.com/2124221/46809/i/450/depositphotos_468095768-stock-photo-abstract-multicolored-background-poly-pattern.jpg");
    
}