input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ffffff;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ffffff;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: rgb(255, 208, 0);
    color: rgb(0, 0, 0);
    padding: 14px 20px;
    margin: 8px 0;

    border-color: rgba(0, 0, 0, 0.733);
    border-radius: 4px;
    cursor: pointer;
}



#contanier {
    width: 50%;
    border-style: outset;
    border-width: 10px;
    border-color: rgba(0, 0, 0, 0.733);
    border-radius: 5px;
    background-color: bisque;
    padding: 20px;
}
#head  {
    text-align: center;
    /* margin: 10px; */
    padding: 10px;
    font-size: 35px;
    color: #ffffff;
    background-color: rgba(165, 42, 42, 0.767);
}